<div class="container">
  <h1>Restaurant Reviewer</h1>
  <h3>
    <%= link_to "New restaurant review", new_restaurant_path %>
  </h3>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-md-4">
      <h2>
        <%= link_to restaurant_path(restaurant) do %>
        <%= restaurant.name%>
        <% end%>
      </h2>
      <h4> <%= "#{restaurant.category} restaurant"%> </h4>
      <h4> <%= restaurant.address%> </h4>
      <h4> <%= restaurant.phone_number%> </h4>
      <h4> <%= "=" * 25 %> </h4>
    </div>
    <% end %>
  </div>
</div>
